/* Phone */
@media only screen and (max-width: 750px) {
  
  /* nav */
    #navbar {
      width: 96vw;
      padding: 2vh 2vw;
      position: -webkit-sticky;
      position: sticky;
        /* position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky; */
    }

    #navbar a:first-child { font-size: 1.1em }

  /* splash */
    #splash-img a { font-size: 2.2em }

  /* Plans Main */
    .plans-main-div {
      max-width: 90vw;
    }

    .plans-main-base { padding-bottom: 1em }

    .plans-table-div h1 { font-size: 1.4em }

    .plans-table-div { font-size: .8em }

    .label-header {
      padding-top: .5em;
      font-size: 1.2em;
    }

  /* User Main */
    .personalize-main-div h1 { font-size: 1.5em }
    .personalize-div-wrapper { font-size: .8em }

    /* LEFT SIDE */
    .personalize-risk-section { padding: 5px }

    .personalize-left h3 { 
      margin: 0;
      margin-bottom: .8em;
    }

    [class*='-input-div'] {
      padding: 0;
      margin: 5px;
    }

    .personalize-left input { width: 5em }

    .recommended-plan-div {
      padding: 5px 7px;
      width: fit-content;
      height: fit-content;
    }

    .recommended-plan-div > div {
      padding: 0;
      margin: 12px 0;
    }

    /* RIGHT SIDE */
    .risk-section { margin: 0 0 0 auto }


}  

@media only screen 
  and (min-height: 475px)
  and (max-width: 415px) { /* Phone + portrait */

    /* Plans Main */
      .label-header { 
        position: static;
        padding: 1em 0;
        font-size: 1.1em;
        width: 90%;
        display: flex;
        justify-content: space-between;
      }

      .label-header span { padding: 0 }
      .label-header a { margin: 0 }

      .plans-main-div {
        display: block;
      }

      .plans-table-div { font-size: .7em }

      .plans-main-charts {
        margin: 1em 0;
        padding-top: .4em;
        border-top: 1px dashed black;
        /* width: 100% !important; */
      }

      .plans-main-charts > div tspan { font-size: 1.15em }

      /* .plans-main-charts > div .highcharts-series-group {
        top: 10px;
      } */


    /* User Main */

      /* LEFT SIDE */
      .personalize-left { flex-direction: column }

      .recommended-plan-div { 
        margin-top: 2em;
        padding: 8px;
        width: fit-content; 
      }

      .recommended-plan-div > div { 
        padding: 0;
        margin: 5px;
      }

      /* RIGHT SIDE */
      .personalize-right {
        flex-direction: column;
      }

      .risk-section > div:first-of-type { padding: 10px }
      
      .recommended-trans-div {
        width: 140%;
        position: relative;
        top: 3em;
        left: -5em;
        background-color: whitesmoke;
        padding: 5px;
        border-radius: 5px;
      }

}

@media only screen
  and (min-width: 475px)
  and (max-height: 415px) { /* Phone + landscape */


    .plans-split {
      font-size: .9em;
      width: 50%;
    }

    .plans-main-charts {
      max-width: 48%;
      height: fit-content;
      overflow: hidden;
    }

    .label-header {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }

    .label-header span { padding-left: 0 }
    .label-header a { margin-left: 0 }

    .donut-chart-div { height: 80vh }
    .plans-main-charts > div tspan { font-size: 1.15em }

    /* USER MAIN */
    .personalize-risk-section, .recommended-trans-div { padding-right: 10px }
    
    .recommended-trans-div > h3 { 
      margin: 0;
      margin-top: .2em;
    }

  }




/* Tablet */






/* Computer sizes */