#navbar {
  position: sticky;
  background-color: #81B29A;
  /* background-color: rgb(255, 251, 229); */
  min-height: 8vh;
  width: 98vw;
  display: flex;
  padding: 2vh 1vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 1px -1px gray;
}

#navbar a:first-child {
  color: whitesmoke;
  font-size: 1.5em;
  text-decoration: none;
}

.fa-lightbulb {
  margin-right: 5px;
  font-size: 1.6em;
}

.nav-contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  right: 1vw;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  background-color: rgb(233, 227, 227);
  /* opacity: 0.9; */
}

.nav-contact p {
  margin: 0;
  font-weight: bolder;
}